<a id="title" href="/">Service Provider Search</a>

<div id="searchbox">
    <input id="searchfield" type="text" placeholder="Enter keywords" value = "<%= query %>">
    <script>
        const box = document.getElementById("searchfield");
        box.addEventListener("keyup", function(event) {
            console.log("asD");
            if (event.key === "Enter") {
                window.location=`search?query=${encodeURI(box.value)}`
            }
        });
    </script>
</div>