<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

<div id="title">Service Provider Search</div>

<div id="searchbox">
    <input id="searchfield" type="text" placeholder="Enter keywords">
</div>

</body>
</html>